
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>Drew's awesome webapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Le styles -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//code.jquery.com/jquery-1.10.1.min.js" type="text/javascript"></script>
    </head>
    
    <body>
    
    <div class="container">
         
      <pre><code>  <div class="cheatsheet">
</code></pre>

<p><h2>Markdown Cheatsheet</h3></p>

<p><h3>Phrase Emphasis</h3></p>

<p><pre><code><em>italic</em>   <strong>bold</strong></code></pre></p>

<p><h3>Links</h3></p>

<p><p>Inline:</p></p>

<p><pre><code>A <a href="http://url.com/">link</a>
A <a href="http://url.com/" title="Read all about it">link</a>
</code></pre></p>

<p><p>Reference-style labels:</p></p>

<p><pre><code>A <a href="http://url.com/" title="title">link</a>. Then, anywhere
else, define the link:</p>

<p></code></pre></p>

<p><h3>Code Spans</h3></p>

<p><code> Code spans are delimited
by backticks.</p></code>

{% load markdown_deux_tags %}
{% markdown %}
	
```
button {
	border: none;
}
```
{% endmarkdown %}

<p>You can include literal
backticks like <code>`this`</code>.
</p>

<p><h3>Preformatted Code Blocks</h3></p>

<p><p>Indent every line of a code block by at least 4 spaces.</p></p>

<p>This is a normal paragraph.</p>

<pre><code>This is a preformatted
code block.
</code></pre>


<p><h3>Lists</h3></p>

<p><pre><code>1. an ordered
2. list</p>

<ul>
<li>an unordered list</li>
<li>'-' bullets work too
</code></pre></li>
</ul>

<p><h3>Headers</h3></p>

<p><pre><code># Header 1</p>

<h2>Header 2</h2>

<h6>Header 6</h6>

<p></code></pre></p>

<p><h3>Blockquotes</h3></p>

<p><pre><code>> Email-style angle brackets
> are used for blockquotes.</p>

<p>> > And, they can be nested.</p>

<p>> ## Headers in blockquotes
> 
> * You can quote a list.
> * Etc.
</code></pre></p>

<p><h3>Manual Line Breaks</h3></p>

<p><p>End a line with two or more spaces:</p></p>

<p><pre><code>Roses are red, <br />
Violets are blue.
</code></pre></p>

<p><p style="margin-top: 1.5em;">More <a href="http://daringfireball.net/projects/markdown/syntax">markdown syntax help here</a>.</p></p>

<p></div></p>

    </div> <!-- /container -->
    </body>
</html>